<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
      <!-- <ion-badge>New</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="casillero">
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Casillero</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
