<ion-header>
  <ion-toolbar>
    <ion-title>Casillero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list-header>
      <ion-label>Formulario skins</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Busqueda</ion-label>
        <ion-input name="nombre" [(ngModel)]="busqueda.nombre" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>

  <ion-item-sliding *ngFor="let resultado of resultados">
    <ion-item>
      <ion-label>
        <h3>{{ resultado.name }}</h3>
        <p>{{ resultado.description }}</p>
      </ion-label>
      <ion-label slot="end" text-right> {{ resultado.id }} </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-content>
