<ion-header>
  <ion-toolbar>
    <ion-title>Casillero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list-header>
      <ion-label>Formulario skins</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Busqueda</ion-label>
        <ion-input name="nombre" [(ngModel)]="busqueda.nombre" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>

  <ion-grid size="6">
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let resultado of resultados">
          <script>
            getColor('resultado.rarity.value');
          </script>
          <ion-img
            [class]="resultado.rarity.value"
            [src]="resultado.images.icon"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ resultado.type.displayValue }}</ion-card-subtitle>
            <ion-card-title>{{ resultado.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content> {{ resultado.description }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
