ion-card-content {
  font-size: small;
}

ion-thumbnail {
  --border-radius: 5px;
}

.item ion-thumbnail {
  min-width: 5rem;
  min-height: 5rem;
  img {
    max-width: 5rem;
    min-width: 5rem;
  }
}

.ion-label p {
  vertical-align: middle;
}

.legendary {
  background-image: radial-gradient(#fb9625 0%, #875134 100%);
}

.epic {
  background-image: radial-gradient(#d27bf4 0%, #7907a5 100%);
}

.rare {
  background-image: radial-gradient(#3dc7ff 0%, #0059a1 100%);
}

.uncommon {
  background-image: radial-gradient(#5bad03 0%, #01700a 100%);
}

.common {
  background-image: radial-gradient(white 0%, gray 100%);
}

.dark {
  background-image: radial-gradient(#fb22df 0%, #520c6f 100%);
}

.slurp {
  background-image: radial-gradient(#29f1a3 0%, #12a9a4 100%);
}

.dc {
  background-image: radial-gradient(#5475c7 0%, #243461 100%);
}

.frozen {
  background-image: radial-gradient(#94dfff 0%, #269ed6 100%);
}

.marvel {
  background-image: radial-gradient(#c53334 0%, #761b1b 100%);
}

.lava {
  background-image: radial-gradient(#ea8d23 0%, #6a0a31 100%);
}

.shadow {
  background-image: radial-gradient(#717171 0%, #191919 100%);
}

.starwars {
  background-image: radial-gradient(#1b366e 0%, #081737 100%);
}

.icon {
  background-image: radial-gradient(#36b7b7 0%, #256b6b 100%);
}
