<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptsTop">
    <ion-slide *ngFor="let noticia of noticias">
      <ion-card class="ion-text-start">
        <img [src]="noticia.image" />
        <ion-card-header>
          <ion-card-title> {{ noticia.title}} </ion-card-title>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>{{ noticia.body }} </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item>
    <ion-text>Daily</ion-text>
  </ion-item>

  <ion-item *ngFor="let entry of daily">
    <ion-thumbnail slot="start">
      <img
        [src]="entry.items[0].images.icon"
        [class]="entry.items[0].rarity.value"
      />
    </ion-thumbnail>
    <ion-label>
      <!-- {{ entry.items[0].name }} -->
      <h1>{{ entry.items[0].name }}</h1>
      <!-- <p>{{ entry.items[0].type.displayValue }}</p> -->
      <p>
        <img src="../../../assets/img/vbucks.png" alt="vbucks" width="12em" />
        {{ entry.finalPrice }}
      </p>
    </ion-label>
    <!-- <ion-label slot="end" text-right> {{ entry.finalPrice }} </ion-label> -->
  </ion-item>

  <ion-item>
    <ion-text>Featured</ion-text>
  </ion-item>

  <ion-item *ngFor="let entry of featured">
    <ion-thumbnail slot="start">
      <img
        [src]="entry.items[0].images.icon"
        [class]="entry.items[0].rarity.value"
      />
    </ion-thumbnail>
    <ion-label>
      <!-- {{ entry.items[0].name }} -->
      <h1>{{ entry.items[0].name }}</h1>
      <!-- <p>{{ entry.items[0].type.displayValue }}</p> -->
      <p>
        <img src="../../../assets/img/vbucks.png" alt="vbucks" width="12em" />
        {{ entry.finalPrice }}
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-text>Special Featured</ion-text>
  </ion-item>

  <ion-item *ngFor="let entry of specialFeatured">
    <ion-thumbnail slot="start">
      <img
        [src]="entry.items[0].images.icon"
        [class]="entry.items[0].rarity.value"
      />
    </ion-thumbnail>
    <ion-label>
      <!-- {{ entry.items[0].name }} -->
      <h1>{{ entry.items[0].name }}</h1>
      <!-- <p>{{ entry.items[0].type.displayValue }}</p> -->
      <p>
        <img src="../../../assets/img/vbucks.png" alt="vbucks" width="12em" />
        {{ entry.finalPrice }}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
