<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptsTop">
    <ion-slide *ngFor="let noticia of noticias">
      <ion-card class="ion-text-start">
        <img [src]="noticia.image" />
        <ion-card-header>
          <ion-card-title> {{ noticia.title}} </ion-card-title>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>{{ noticia.body }} </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item><ion-text>Separador</ion-text></ion-item>

  <ion-item *ngFor="let dailies of daily">
    <ion-thumbnail slot="start">
      <img [src]="dailies.item[0].images.icon" />
    </ion-thumbnail>
    <ion-label> {{ dailies.items[0].name }} </ion-label>
  </ion-item>
</ion-content>
